cn2an==0.5.22
eng-to-ipa==0.0.2
fastapi==0.109.2
faster-whisper==0.9.0
googletrans==4.0.0rc1
inflect==7.0.0
jieba==0.42.1
langid==1.1.6
loguru==0.7.2
mkl-fft==1.3.8
mkl-random==1.2.4
moviepy==1.0.3
openai
pydub==0.25.1
pypinyin==0.50.0
python-dotenv==1.0.1
pytube==15.0.0
unidecode==1.3.7
uvicorn==0.27.0.post1
wavmark==0.0.2
whisper-timestamped==1.14.2
youtube-dl==2021.12.17
youtube-transcript-api==0.6.2
